@import "../../variables.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 300px;
  &-element {
    @include flexbox(column, center, flex-start);
    gap: 5px;
  }
}

[data-theme="dark"] {
  .form {
    input {
      color: $primary-background-second;
      outline-color: #fff !important;
    }
  }
}

@include media-s {
  .form {
    margin-bottom: 80px;
  }
}
