@import "../../variables.scss";

.welcome {
    @include flexbox(column , center , center);
    gap: 20px;
  p {
    font-size: $font-xxl;
    font-weight: bolder;
  }
    span{
        font-size: $font-sxxl;
    }
  
  color: black;
}

[data-theme="dark"]{
  .welcome{
    color: $primary-background;
  }
}

@include media-m{
  .welcome{
    p{
      font-size: $font-xl;
    }
    span{
      font-size: $font-ll;
    }
  }
}

@include media-s{
  .welcome{
    p{
      font-size: $font-ll;
    }
    span{
      font-size: $font-l;
    }
  }
}