@import "../../../../variables.scss";

.subject {
  width: 75vw;
  height: 70px;
  overflow-x: auto;
  overflow-y:hidden!important;
  h3 {
    padding-right: 20px;
    padding: 13px 20px 13px 0px;
    border-right: 1px solid $light-gray;
  }
  color: $dark-blue;
  border: 1px solid $light-gray;
  border-radius: $border-radius-s;
  padding: 0.3em 0.7em;
  @include flexbox(row, flex-start, center);
  gap: 20px;
  .grades {
    @include flexbox(row, flex-start, center);
    gap: 7px;
  }
}


[data-theme = 'dark']{
 .subject{
  color: $primary-background-second;
 }   
}