@import "../../../variables.scss";


.mobile-icon{
 display: none;
 transition: 300ms ease-in-out;
}
.panel {
  z-index: 3;

  transition: 300ms ease-in-out;
  color: $light-dark;
  height: calc(100vh - 70px);
  width: 225px;
  background-color: $primary-background;
  border: 3px solid $dark-white;
  border-radius: 0 $border-radius $border-radius 0;
  padding: 1em;
  @include flexbox(column, flex-start, center);
  gap: 50px;
  .gretting {
    @include flexbox(column, center, center);
    gap: 20px;
    h2 {
      font-size: $font-l;
    }
    span {
      font-size: $font-ml;
    }
  }
  ul {
    li , a {
      @include flexbox(row, center, center);
      color: $light-dark;
      gap: 6px;
    }
  }
  .logout {
    @include flexbox(row, center, center);
    gap: 6px;
    cursor: pointer;
  }
}

[data-theme="dark"] {
  .panel {
    background-color: $dark-theme-background;
    color: $primary-background;
    border-color: $dark-theme-background-second;
    ul , li , a {
      color: $primary-background;
    }
  }
}

@include media-l{
  .panel{
    width: 150px;
  }
}

@include media-ms{
  .panel{
   position:absolute;
   transform: translateX(-200px);
  }
  .active{
    transform: translateX(0px);
   }
  .mobile-icon{
    cursor: pointer;
    position: absolute;
    display: block;
    top: 50%;
    left: -2px;

  }
  .sticky{
    transform: translateX(125px);
    z-index: 10;
  }
}
