@import "../../variables.scss";

.header {
  height: 70px;
  width: 85vw;
  margin: 0 auto;
  @include flexbox(row, space-between, center);
  .logo {
    @include flexbox(row, space-between, center);
    gap: 20px;
    h3 {
      font-size: $font-l;
      color: $dark-blue;
    }
    .icon {
      cursor: pointer;
      animation: appear 0.3s ease-in-out;
    }
  }
  .login-options {
    @include flexbox(row, space-between, center);
    gap: 40px;
    a {
      font-size: $font-ml;
      padding: 0.4em 1em;
      border-radius: $border-radius;
      transition: 250ms ease-in-out;
      &:hover {
        background: $dark-blue;
        color: #ffff;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

[data-theme="dark"] {
  .header {
    .logo {
      h3 {
        color: #fff;
      }
    }
    .login-options {
      a {
        color: $primary-background;
        &:hover {
          background-color: #fff;
          color: $dark-blue;
        }
      }
    }
  }
}
