@import "../../variables.scss";

.nav {
  display: none;
}

@include media-s {
  .nav {
    position: relative;
    height: 60px;
    width: 100vw;
    @include flexbox(row, space-around, center);
    background-color: $primary-background-second;
    position: fixed;
    bottom: 0;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        color: $dark-theme-background !important;
      }
    }
  }
}

[data-theme="dark"] {
  .nav {
    background-color: $dark-theme-background;
    box-shadow: rgba(92, 83, 83, 0.56) 0px 22px 70px 4px;
    a {
      color: $primary-background !important;
    }
  }
}
