@import '../../../../variables.scss';

.form{
    padding: 1em;
    position: relative;
    font-size: $font-ml;
    color: $dark-blue;
    @include flexbox(column , center , center);
    gap: 30px;
    .subject{
        width: 100%;
    }
    .date-picker{
        @include flexbox(row , center , center);
        gap: 20px;
    }
    .icon{
        position: absolute;
        right: -8px;
        top:-12px;
        cursor: pointer;
    }
}


