@import "../../variables.scss";
.hero {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -65px;
  &-info {
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 85%;
    h2 {
      font-size: $font-xxl;
      color: $dark-blue;
    }
    p {
      font-size: $font-ml;
    }
    a {
      background-color: $dark-blue;
      color: #fff;
      max-width: 200px;
      height: 50px;
      font-size: $font-ml;
      @include flexbox(row, center, center);
      border-radius: $border-radius;
    }
  }
  .image{
    margin-top: 80px;
  }
}

@include media-l {
  .hero {
   margin-top: 20px;
    margin-bottom: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &-info {
      margin-top: 0px;
      justify-content: center;
      align-items: center;
      text-align: center;
      a {
        padding: 1em 2em;
      }
    }
    .image {
      margin-top: 0px;
      height: 400px;
    }
  }
}

@include media-m {
  .hero {
  gap: 50px;
    &-info {
      gap: 20px;
      h2{
        font-size:$font-l;
      }
      p {
        font-size: $font-ml;
      }
    }
  }
  .image{
    margin-top: -40px!important;
    width: 80vw;
  }
}

[data-theme="dark"] {
  .hero-info {
    h2 {
      color: #fff;
    }
    a {
      background-color: #fff;
      color: $dark-blue;
    }
  }
}
