@import "../../../../variables.scss";

.grades-container {
  margin-top: 50px;
  @include flexbox(column, flex-start, flex-start);
  gap: 25px;
}

.advice{
  margin: 30px auto;
  gap: 15px;
@include flexbox(column , center , center);
.information{
  text-align: center;
  @include flexbox(row , center , center);
  gap: 5px;
}
}