@import "../../variables.scss";

.aside {
  width: 100vw!important;
  position:absolute;
  left: 0;
  background-color: $dark-blue;
  height: 150px;
  padding: 0em 3em;
  color: #fff;
  @include flexbox(row, space-between, center);
  .stat-item {
    @include flexbox(column, space-between, center);
    h2 {
      font-size: $font-xl;
    }
  }
}

@include media-m {
  .aside {
    padding: 1em;
    height: auto;
    flex-direction: column;
    gap: 30px;
  }
}

@include media-s {
  .aside {
    margin-bottom: 60px;
  }
}

[data-theme="dark"] {
  .aside {
    background-color: $dark-theme-background-second;
  }
}
