@import "../../../../variables.scss";

.lesson {
  font-size: $font-xs;
  @include flexbox(column, center, center);
  z-index: 2;
  width: calc((75vw / 8) - 3px);
  background-color: rgb(123, 247, 141);
}
