@import "../../variables.scss";

.article {
  margin-top: 20px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 60px;
  .description-box {
    @include flexbox(column, center, center);
    font-size: $font-l;
    padding: 1em;
    color: #fff;
    width: 260px;
    height: 250px;
    background-image: $linear-gradient;
    border-radius: $border-radius;
  }
}

@include media-l{
  .article{
    grid-template-columns: repeat(2,1fr);
  }
}

@include media-m{
  .article{
    grid-template-columns: repeat(1,1fr);
  }
}