@import '../../variables.scss';
.support{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-info {
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 85%;
        h2 {
          font-size: $font-xxl;
          color: $dark-blue;
        }
        p {
          font-size: $font-ml;
        }
    }
}


[data-theme="dark"] {
    .support-info {
      h2 {
        color: #fff;
      }
      a {
        background-color: #fff;
        color: $dark-blue;
      }
    }
  }
  