@import "../variables.scss";

.header {
  height: 70px;
  width: 85vw;
  margin: 0 auto;
  @include flexbox(row, space-between, center);
  h3 {
    font-size: $font-l;
    color: $dark-blue;
  }
  .login-options {
    @include flexbox(row, space-between, center);
    gap: 40px;
    a {
      font-size: $font-ml;
      padding: 0.4em 1em;
      border-radius: $border-radius;
      transition: 250ms ease-in-out;
      &:hover {
        background: $dark-blue;
        color: #ffff;
      }
    }
  }
}
