$font-s:14px;
$font-m:18px;
$font-ml: 20px;
$font-l: 28px;
$font-ll:33px;
$font-xl:45px;
$font-sxxl:55px;
$font-xxl: 65px;
$primary-background: #f2f2f2;
$primary-background-second: #fff;
$dark-theme-background: #161b22;
$dark-theme-background-second: #23262e;
$light-dark: #212529;
$light-gray: #6c757d;
$dark-blue: #00253e;
$red:#d00000;
$linear-gradient: linear-gradient(to right, #fc5c7d, #6a82fb);
$border-radius: 25px;
$border-radius-l: 50px;

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-l {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin media-m {
  @media (max-width: 680px) {
    @content;
  }
}
@mixin media-s{
  @media (max-width:480px) {
    @content
  }
}