@import "../../../../variables.scss";

.info {
  padding: 1.5em;
  position: relative;
  .icon {
    cursor: pointer;
    position: absolute;
  }
  .close {
    top: -12px;
    right: -10px;
  }
  .delete {
    color: red;
    top: -12px;
    left: -10px;
  }
  .edit {
    top: -12px;
    left: 45%;
  }
}

[data-theme="dark"] {
  .info {
    color: $primary-background;
  }
}
