@import "../variables.scss";

.dashboard {
  width: 100vw !important;
  @include flexbox(row, flex-start, flex-start);
}

.container {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding: 0em 0.2em;
}

li {
  list-style-type: none;
}
