@import "../variables.scss";
.dashboard {
  width: 100vw !important;
  @include flexbox(row, flex-start, flex-start);
}

.container {
  min-height: calc(100vh - 70px);
  display: grid;
  place-content: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
