@import "../../variables.scss";

.btn {
  margin: 0 auto;
  width: 250px;
  height: 45px;
  border: none;
  border-radius: $border-radius-s;
  background-color: $dark-blue;
  color: #fff;
  font-size: $font-ml;
  cursor: pointer;

}

[data-theme="dark"] {
  .btn {
    background-color: $primary-background-second;
    color: $dark-blue;
  }
}
